<% content_for :title, "Editing coupon" %>

<h1>Editing coupon</h1>

<%= render "form", coupon: @coupon %>

<br>

<div>
  <%= link_to "Show this coupon", @coupon %> |
  <%= link_to "Back to coupons", coupons_path %>
</div>
