<% content_for :title, "New delivery fee rule" %>

<h1>New delivery fee rule</h1>

<%= render "form", delivery_fee_rule: @delivery_fee_rule %>

<br>

<div>
  <%= link_to "Back to delivery fee rules", delivery_fee_rules_path %>
</div>
